<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><a href="#/top_urls">Top Urls</a>/<a href="#/top_referrers">Top Referrers</a></h1>
            </div>
        </div>

        <div ng-controller="TopUrlCtrl">
            <div ng-repeat="(date, val) in top_urls">
                <h4>{{ date }}</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>URL</th>
                        <th>Visits</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, data) in val">
                            <td>{{ data.url }}</td>
                            <td>{{ data.count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
